html{
  scroll-behavior:smooth !important;

}


body{
  margin: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  overflow-x: hidden ;
}
.full-site{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.firstPage , .secondPage ,.thirdPage,.forthPage,.fifthPage,.sixthPage,.seventhPage,.eighthPage,.ninethPage{
  scroll-snap-align: start;
}
.offer{
  position: fixed;
  text-align: center;
  width:100%;
  top:0;
  z-index: 1;
   background-image: radial-gradient(54.97% 300.54% at 27.36% -134.72%,rgba(118, 151, 243, 1) 0,rgba(10, 10, 10, 1) 100%);
    color: white !important;    
    height: 50px;
    display: inline;
    justify-content: center;
    align-items: center;
    
    
}
.offer p{
  font-size: 14px;
}

.firstPage{
  
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(tesla\ face\ wallpaper\ 2\ copy.jpg);
  background-size: cover;
  height: 770px;
}
.secondPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Homepage-Model-3-Desktop-LHD.avif);
  background-position: 0 -80px ;
  background-size: cover;
  height: 770px;
}
.thirdPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Homepage-Model-Y-Global-Desktop.avif);
  background-position: 0 -220px;
  background-size: cover;
  height: 770px;
  
}
.forthPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Model-S-homepage-desktop.avif);
  background-position: 0 -100px;
  background-size: cover;
  height: 770px;
  
}

.fifthPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Homepage-Model-X-Desktop-LHD.avif);
  background-position: 0 -10px;
  background-size: cover;
  height: 770px;
  
}
.sixthPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(425_HP_SolarPanels_D.avif);
  background-position: 0 -55px;
  background-size: cover;
  height: 770px;
  
}
.seventhPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Homepage-SolarRoof-Desktop-Global.avif);
  background-position: 0 -55px;
  background-size: cover;
  height: 770px;
  
}
.eighthPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Homepage-Powerwall-Desktop.avif);
  background-position: 0 -55px;
  background-size: cover;
  height: 770px;
  
}
.ninethPage{
 
  right: auto;
  left: auto;
  width: 100%;
  background-image: url(Desktop_Accessories.avif);
  background-position: 0 -200px;
  background-size: cover;
  height: 770px;
  
}
/*#ad{
  height: 10vh;
  width: 10vw;
  object-fit:cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}*/

.navbar{
  z-index: -1;
  width: 100%;
  height: 50px;
  z-index: 1;
 background-color: rgba(255, 255, 255, 0.597);
position:fixed;
top: 50px;
  color: rgb(0, 0, 0);
  display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: bold;
}
.logo{
z-index: -1;
  position: fixed; 
  top:65px;
  left: 10px;

}

img{
  z-index: -1;
  width: 120px;
  
}

.menuBar ul{
  position: fixed;
  left: 350px;
  top :50px;
list-style: none;
display: flex;
justify-content: space-around;

}

.menuBar li{
  margin-top: 0;
  padding:8px 13px 8px 13px;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  
}

.account ul{
  position: fixed;
  left : 1250px;
  top:50px;
  display: flex;
  justify-content: space-around;
  
}

.account li{
  list-style: none;
  display: flex;
  padding:8px 13px 8px 13px;
  
  font-size: 15px;
}

span{
  font-weight: 800;
  font-size: 15px;
}

.demo .test{
  padding-top: 130px;
margin-top: 0px;
text-align: center;
text-shadow: rgb(93, 96, 95) 0 0 8px;
margin-bottom: 380px;
margin-top: 1px;
}
.demo h1{
  
  font-size: 40px;
  color: white;
  font-weight: 600;
  margin-bottom: 0;

}
.demo h5{
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
  color: white;
  font-weight: 500;
}
.test{
  animation-duration: 5s;
  animation-name: rising;
  animation-fill-mode: both;
}
 
.demo button{
  display:inline-block;
  margin-left:42%;
  margin-right: auto;
  border: 3px solid white;
  border-radius: 6px;
  padding: 8px 100px;
  
  background-color: transparent;
  transition: 3s ease-out;
  
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 700;

}
.demo button:hover{
  background-color: white;
  color: black;
  
}


.container{
  margin-top: -05px;
  padding-top: 50px;
}

.container h1{
text-align: center;
padding-top: 100px;
font-size: 42px;
font-weight: 520;
margin-bottom: 15px;
}

.container p{
  text-align: center;
  padding-top: -30px;
  margin-top: -16px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 450;
  color: rgb(77, 74, 74);

}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 390px;
  
  
}
 #btn1{
  font-size: 15px;
  color: rgb(13, 13, 13);
  font-weight: 600;
  padding: 10px 90px;
  background-color: rgb(243, 237, 237);
  opacity: 70%;
  border-radius: 5px;
  margin-right: 25px;
}
#btn2{
  font-size: 15px;
  color: rgb(254, 247, 247);
  font-weight: 600;
  padding: 10px 90px;
  background-color: rgb(16, 16, 16);
  opacity: 70%;
  border-radius: 5px;
}

.terms p{
  padding-top: 35px;
  font-size: 11px;
}
.eighthPage .container h1{
  margin-top: -20px;
}
.eighthPage .buttons{
margin-top: 440px;
}
.ninethPage .buttons #btn2{
  background-color: black;
  opacity: 100%;
  color: white;
}
.ninethPage .container h1{
  margin-top: -10px;
}
.ninethPage .buttons{
  margin-top: 420px;
  }





















@keyframes rising{
  from{top:400px;opacity:0}
  to{ top: 200px; opacity:100%}
}

.ninethPage ul{
 padding-top: 35px;
  display: flex;
justify-content: center;
  list-style: none;
  
}
.ninethPage li{
  color: rgb(104, 104, 104);
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
}

.navbar:hover{
  background-color: transparent;
}
.menuBar li:hover{
 cursor: pointer;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}
.account li:hover{
  cursor: pointer;
   border-radius: 2px;
   background-color: rgba(0, 0, 0, 0.05);
 }
 .logo:hover{
cursor: pointer;
 }
 .ninethPage li:hover{
  cursor: pointer;
 }

 #btn1,#btn2:hover{
  cursor: pointer;
 }

 .container u:hover{
  cursor: pointer;
 }
 a{
  text-decoration: none;
  color: black;
 }


 .animate{
  transition: 700ms ease-in-out;
}
 section .animate{
  transform: translateY(100px);
  opacity: 1;
 }
 section.show-animate .animate{
  transform: translateY(0);
  opacity: 1;
 } 